<!DOCTYPE html>
<html>
    <head>
        <title>vue</title>
        <meta charset="utf-8">
        <!-- 适配移动端 http://www.cnblogs.com/mingjixiaohui/p/5314373.html -->
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script type="javascript"> 
        (function(doc, win){
			var docE1 = doc.documentElement,
				resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
				recalc = function(){
					var clientWidth = docE1.clientWidth;
					if(!clientWidth) return;
					docE1.style.fontSize = 16 * (clientWidth / 320) + 'px';            
				};

			if (!doc.addEventListener) return;
			win.addEventListener(resizeEvt,recalc,false);
			doc.addEventListener('DOMContentLoaded',recalc,false);
		})(document,window);
        </script>
        <script src="https://unpkg.com/vue"></script>
        <style>
			html {
				/* 适配移动端 根据指定字体计算，并且处理px->rem */
				font-size: 16px;
				margin: 0px;
			}
        	*{
				margin: 2px; 
				/* padding: 8px; */
				border-top-color: #2196F3;
				border-right-color: #00897B;
				border-bottom-color: #FF9800;
				border-left-color: #9C27B0;
			    border-width: 1px;
			    border-style: solid;
			    border-radius: 4px;
			    font-family: monospace;
        	} 
        	* button {
        		background: linear-gradient(to bottom,#ebebeb,#d5d5d5);
        	}
        </style>
    </head>
    <body>
        <!--https://cn.vuejs.org/v2/guide/index.html-->
        <!-- 简单的数据绑定显示 -->
        <div id="app">{{ message }}</div>
        <script type="text/javascript">
            
            
            
            
		var app = new Vue({
			el: '#app',
			data: {
				msg: 'What The Fuck! Think, Study.',
				message: 'Hello vue.js!',
				tick: 0
			}
		});
		function tick() {
			//app._data.message = "{" + app._data.message + "}";
			app.tick++;
			//substr(start, size), substring(start, stop), slice(start, stop|length-size)
			var index = app.tick%app.msg.length
			app.message = app.msg.substr(index) + "\ \t" + app.msg.slice(0, index);
			setTimeout("tick()", 150);
		}
		tick();
	
        
        
        
        </script>
        <!-- 这里该指令的作用是：“将这个元素节点的 title 属性和 Vue 实例的 message 属性保持一致” -->
        <div id="app-2">
            <span v-bind:title="message">鼠标悬停几秒钟查看此处动态绑定的提示信息！
	  		</span>
        </div>
        <script type="text/javascript">
            
            
            
            
		var app2 = new Vue({
		  el: '#app-2',
		  data: {
		    message: '页面加载于 ' + new Date().toLocaleString()
		  }
		})
	
        
        
        
        </script>
        <!-- 继续在控制台设置 app3.seen = false，你会发现“现在你看到我了”消失了。 -->
        <div id="app-3">
            <p v-if="seen" style="color: red;">现在你看到我了</p>
        </div>
        <script type="text/javascript">
            
            
            
            
		var app3 = new Vue({
		  el: '#app-3',
		  data: {
		    seen: true
		  }
		})
		setTimeout(function(){
			app3.seen = false;
		}, 1000);
	
        
        
        
        </script>
        <!-- v-for 指令可以绑定数组的数据来渲染一个项目列表 -->
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">{{ todo.text + "  索引=" + todos.indexOf(todo) }}</li>
            </ol>
        </div>
        <script type="text/javascript">
            
            
            
            
		var app4 = new Vue({
		  el: '#app-4',
		  data: {
		    todos: [
		      { text: '学习 JavaScript' },
		      { text: '学习 Vue' },
		      { text: '整个牛项目' }
		    ]
		  }
		})
		var tick_todos_count = 0;
		function tick_todos() {
			tick_todos_count ++;
			app4.todos.push({ text: '新项目:'+tick_todos_count })
			//setTimeout("tick_todos();", 1000)
			setTimeout("app4.todos.pop();tick_todos();", 1000)
		}
		tick_todos()
	
        
        
        
        </script>
        <!-- 为了让用户和你的应用进行互动，我们可以用 v-on 指令绑定一个事件监听器，通过它调用我们 Vue 实例中定义的方法, methods方法里面的this已经正确的变为vue的实例 -->
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">逆转消息</button>
        </div>
        <script type="text/javascript">
            
            
            
            
		var app5 = new Vue({
		  el: '#app-5',
		  data: {
		    message: 'Hello Vue.js!'
		  },
		  methods: {
		    reverseMessage: function () {
		      this.message = this.message.split('').reverse().join('')
		      console.log("this ? ", this === app5);
		    }
		  }
		})
	
        
        
        
        </script>
        <!-- Vue 还提供了 v-model 指令，它能轻松实现表单输入和应用状态之间的双向绑定。 -->
        <div id="app-6">
            <p>v-model双向绑定☞： {{ message }} </p>
            <!--
	   vue.js:482 [Vue warn]: Error compiling template:
	   - text="{{ message }}": Interpolation inside attributes has been removed. Use v-bind or the colon shorthand instead. For example, instead of <div id="{{ val }}">, use <div :id="val">. -->
            <!-- <input v-model="message" text="{{ message }}"></input> -->
            <!-- <input v-model="message" v-bind:text="message"></input> -->
            <!-- <input v-model="message" v-bind:value="message"></input> -->
            <div style="padding-right: 8px;">
				<input v-bind:value="message" disabled="disabled" style="width: 100%;"></input>
				<br/>
				<input v-model:value="message"></input>
				<br/>
				<input v-model="message"></input>
            </div>
        </div>
        <script type="text/javascript">
            
            
            
            
		var app6 = new Vue({
		  el: '#app-6',
		  data: {
		    message: 'Hello Vue!'
		  }
		})
	
        
        
        
        </script>
        <!-- 在 Vue 中注册组件很简单 -->
        <div id="app-7s">
			<ol>
				<li>Hello list item</li>
				<!-- 创建一个 todo-item-sample 组件的实例 -->
				<todo-item-sample></todo-item-sample>
			</ol>
        </div>
        <script type="text/javascript">
            
            
            
            
		// 定义名为 todo-item-sample 的新组件
		Vue.component('todo-item-sample', {
		  template: '<li>这是个固定的不能改的待办项</li>'
		})
		//在js中控制dom使用vue的响应系统， 才会让组件正确应用
		var app7_s = new Vue({
			el: '#app-7s',
			// data: {}
		})
	
        
        
        
        </script>
        <!-- 但是我们已经设法将应用分割成了两个更小的单元，子单元通过 props 接口实现了与父单元很好的解耦。我们现在可以进一步为我们的 todo-item 组件实现更复杂的模板和逻辑的改进，而不会影响到父单元。 -->
        <div id="app-7">
            <ol>
                <!--
	      现在我们为每个 todo-item 提供 todo 对象
	      todo 对象是变量，即其内容可以是动态的。
	      我们也需要为每个组件提供一个“key”，晚些时候我们会做个解释。
	    -->
                <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
            </ol>
        </div>
        <script type="text/javascript">
            
            
            
            
		Vue.component('todo-item', {
		  // todo-item 组件现在接受一个
		  // "prop"，类似于一个自定义属性
		  // 这个属性名为 todo。
		  props: ['todo'],
		  template: '<li>{{ todo.text }}</li>'
		})
		var app7 = new Vue({
		  el: '#app-7',
		  data: {
		    groceryList: [
		      { id: 0, text: '蔬菜' },
		      { id: 1, text: '奶酪' },
		      { id: 2, text: '随便其他什么人吃的东西' }
		    ]
		  }
		})
	
        
        
        
        </script>
        <!--https://cn.vuejs.org/v2/guide/instance.html-->
        <!-- 每个 Vue 应用都是通过 Vue 函数创建一个新的 Vue 实例开始的 虽然没有完全遵循 MVVM 模型，Vue 的设计无疑受到了它的启发。因此在文档中经常会使用 vm (ViewModel 的简称) 这个变量名表示 Vue 实例-->
        <script type="text/javascript">
            
            
            
            
		//当你创建一个 Vue 实例时，你传入一个选项对象。这篇教程主要描述的就是如何使用这些选项来创建你想要的行为。作为参考，你也可以在 API 文档中浏览完整的选项列表。
		// 选项
		var vm_option = {
			//el: 'dom选择器',
			data: {
				type: "类型：Object | Function ",
				limit: "限制：组件的定义只接受 function。",
				detail: "详细：Vue 实例的数据对象。Vue 将会递归将 data 的属性转换为 getter/setter，从而让 data 的属性能够响应数据变化。对象必须是纯粹的对象 (含有零个或多个的 key/value 对)：浏览器 API 创建的原生对象，原型上的属性会被忽略。大概来说，data 应该只能是数据 - 不推荐观察拥有状态行为的对象。一旦观察过，不需要再次在数据对象上添加响应式属性。因此推荐在创建实例之前，就声明所有的根级响应式属性。",
				newTodoText: '',
				visitCount: 0,
				hideCompletedTodos: false,
				todos: [],
				error: null
			},
			props: ['msg'],
			propsData: {
				msg: "只用于 new 创建的实例中。详细：创建实例时传递 props。主要作用是方便测试。"
			},
			computed: {

			},

		};
		var vm_0 = new Vue(vm_option);
	
        
        
        
        </script>
        <div id="test">
		   <p>Vue实例 a={{ a }}, b={{ b }}</p>
        </div>
        <script type="text/javascript">
            
            
			// 我们的数据对象
			var data = { a: 1 }
			// 该对象被加入到一个 Vue 实例中
			var vm = new Vue({
				//创建之后会检查是否有 el 元素,如果有就去检查是否有模板,是否需要编译模板,之后进入更新循环
				//el: '#test',
				//当一个 Vue 实例被创建时，它向 Vue 的响应式系统中加入了其 data 
				//对象中能找到的所有的属性。当这些属性的值发生改变时，视图将会产生“响应”，即匹配更新为新的值。
				data: data,
				//每个 Vue 实例在被创建之前都要经过一系列的初始化过程。
				//例如需要设置数据监听、编译模板、挂载实例到 DOM、在数据变化时更新 DOM 等。
				//同时在这个过程中也会运行一些叫做生命周期钩子的函数，
				//给予用户机会在一些特定的场景下添加他们自己的代码。
				//也有一些其它的钩子，在实例生命周期的不同场景下调用，
				//如 mounted、updated、destroyed。钩子的 this 指向调用它的 Vue 实例。
				//##注意:
				//不要在选项属性或回调上使用箭头函数，
				//比如 created: () => console.log(this.a) 或 vm.$watch('a', newValue => this.myMethod())。
				//因为箭头函数是和父级上下文绑定在一起的，this 不会是如你所预期的 Vue 实例，
				//且 this.a 或 this.myMethod 也会是未定义的。
				created: function () {
					// `this` 指向 vm 实例
					console.log('created ===> a is: ' + this.a)
				}
			})
			// $watch 是一个实例方法
			vm.$watch('a', function (newValue, oldValue) {
			  // 这个回调将在 `vm.a` 改变后调用
			  console.log("vm的数据字段 a 改变了", this.a);
			})
			// 他们引用相同的对象！
			console.log("vm.a === data.a", vm.a === data.a) // => true
			console.log("vm._data === data", vm._data === data) // => true
			console.log("vm.$data === data", vm.$data === data) // => true
			// 设置属性也会影响到原始数据
			vm.a = 2
			console.log("data.a", data.a) // => 2
			// ... and vice-versa
			data.a = 3
			console.log("vm.a", vm.a) // => 3
			//值得注意的是只有当实例被创建时 data 中存在的属性是响应式的。也就是说如果你添加一个新的属性
			//绑定dom元素需要在Vue对象初始化时进行
			vm.el = '#test'
			console.log("vm.$el", vm.$el)
			vm.$el = '#test'
			console.log("vm.$el", vm.$el)
			console.log("vm.$el === document.getElementById('test')", vm.$el === document.getElementById('test')) // => true
			//不能直接赋值,但是可以使用mount 方法指定需要控制的el 对应的 view
			vm.$mount('#test')
			console.log("vm.$el", vm.$el)
			console.log("vm.$el === document.getElementById('test')", vm.$el === document.getElementById('test')) // => true
			function vm_a_tick() {
				vm.a++
				setTimeout("vm_a_tick()", 1000);
			}
			vm_a_tick()
			//可以使用 destroy 拆解挂载, 5秒后停止更新
			setTimeout("vm.$destroy()", 5000);

			//那么对 b 的改动将不会触发任何视图的更新。如果你知道你会在晚些时候需要一个属性，但是一开始它为空或不存在，那么你仅需要设置一些初始值
			//报错: vue.js:482 [Vue warn]: Property or method "b" is not defined on the instance but referenced during render. Make sure to declare reactive data properties in the data option.
			vm.b = 'Hello moto!'    
        
        
        </script>
		<!-- https://cn.vuejs.org/v2/guide/render-function.html -->
		<div id="template-test-0">
			<h5>纯手写标签 &lt;h5&gt; </h5>
			<anchored-heading :level="4">模板渲染标签</anchored-heading>
			<anchored-heading v-bind:level="d_level">模板渲染标签</anchored-heading>
			<!-- vue.js:488 [Vue tip]: <anchored-heading v-for="l in levels">: component lists rendered with v-for should have explicit keys. See https://vuejs.org/guide/list.html#key for more info. -->
			<!-- <anchored-heading v-for="l in levels" v-bind:level="l" >Hello world!</anchored-heading> -->
			<!-- <anchored-heading v-for="l in levels" v-bind:level="l" v-bind:key="l" >Hello world!</anchored-heading> -->
			<anchored-heading v-for="l in d_levels" :level="l" :key="l" >模板批量渲染标签</anchored-heading>
		</div>
		<script type="text/javascript">
			Vue.component('anchored-heading', {
			  render: function (createElement) {
			  	// return createElement(
			   	//   'h' + this.level,   // tag name 标签名称
			   	//   this.$slots.default // 子组件中的阵列
			   	// )
			  	//function createElement (context, tag, data, children, normalizationType, alwaysNormalize)
			  	//createElement接受的第一个参数就是标签名，后面的参数都是可选的，他会根据类型来自动匹配。这里的第二个参数是一个对应属性的数据对象，是一个{Object}。第三个参数是子节点(VNodes)，{String | Array}，如果是String的话类似于innerHTML的意思
			    let cb_vNode = createElement(
			      'h' + this.level,   // tag name 标签名称
			      //阵列？ this.$slots.default => VNode
			      {
			      	attrs: {
            			name: 'heading-' + this.level,
            			href: '#' + 'heading-' + this.level
			      	},
			      	style: {
			      		margin: '2px',
			      		'border-color': 'red',
			      		'border-width': '1px',
			      		'border-style': 'dashed',
			      		'background-color': '#8BC34A',
			      		"text-align": "center",
					    color: '#F44336',
			      	},
			      	on: {  
                    	click: function(event){  
                    		//this === window //===> true
                    		console.log("this === window :", this === window)
                        	alert(event.target.innerText) 
                    	} 
                    } 
			      },
			      this.$slots.default[0].text + " <h" + this.level + ">"
			    )
			    return cb_vNode;
			  },
			  props: {
			    level: {
			      type: Number,
			      required: true
			    }
			  }
			})
			var tvm0 = new Vue({
				el: '#template-test-0',
				data: {
					d_level: 3,
					d_levels: [5, 4, 3],
				}
			})
		</script>
		
		<!-- https://cn.vuejs.org/v2/guide/syntax.html -->
        <!-- Vue.js 使用了基于 HTML 的模板语法，允许开发者声明式地将 DOM 绑定至底层 Vue 实例的数据。
		所有 Vue.js 的模板都是合法的 HTML ，所以能被遵循规范的浏览器和 HTML 解析器解析。
		在底层的实现上，Vue 将模板编译成虚拟 DOM 渲染函数。
		结合响应系统，在应用状态改变时，Vue 能够智能地计算出重新渲染组件的最小代价并应用到 DOM 操作上。
		如果你熟悉虚拟 DOM 并且偏爱 JavaScript 的原始力量，
		你也可以不用模板，直接写渲染 (render) 函数，使用可选的 JSX 语法。 -->
		<div id="template-test-1">
			<!-- 数据绑定最常见的形式就是使用“Mustache”语法 (双大括号) 的文本插值 -->
			<span>{{ msg }}</span> 
			<!-- 通过使用 v-once 指令，你也能执行一次性地插值，当数据改变时，插值处的内容不会更新。但请留心这会影响到该节点上所有的数据绑定 -->
			<span v-once>{{ msg }}</span>
			<!-- 双大括号会将数据解释为普通文本，而非 HTML 代码。为了输出真正的 HTML ，你需要使用 v-html 指令,
			这个 div 的内容将会被替换成为属性值 rawHtml，直接作为 HTML —— 会忽略解析属性值中的数据绑定。
			注意，你不能使用 v-html 来复合局部模板，因为 Vue 不是基于字符串的模板引擎。
			反之，对于用户界面 (UI)，组件更适合作为可重用和可组合的基本单位。
			 -->
			<div v-html="rawHtml"></div>
			<!-- mustache 语法不能作用在 HTML 特性上，遇到这种情况应该使用 v-bind 指令： -->
			<div v-bind:id="dynamicId"></div>
			<!-- 这同样适用于布尔类特性，如果求值结果是 falsy 的值 (译者注：falsy 不是 false)，
			https://developer.mozilla.org/zh-CN/docs/Glossary/Falsy 如果不能转换为boolean类型
			则该特性将会被删除： -->
			<button v-bind:disabled="isButtonDisabled" v-on:click="btn_func">功能按钮</button>
			<button v-bind:disabled="isButton2Disabled" v-on:click="btn_clickable">解除禁用</button>
		</div>
		<script>
			var tvm1 = new Vue({
				el: "#template-test-1",
				data: {
					msg: "这是初始文本",
					rawHtml: "<p style='color: red;'>html标签文本</p>",
					dynamicId: "this_is_a_tag_id",
					isButtonDisabled: false,
					isButton2Disabled: true
				},
				methods: {
					btn_func: function (e) {
						this.isButtonDisabled = true;
						this.isButton2Disabled = false;
						alert("功能按钮已经被禁用");
					},
					btn_clickable: function (e) {
						this.isButtonDisabled = false;
						this.isButton2Disabled = true;
					}
				}
			})
			tvm1.msg = "变动了的文本数据"
		</script>
 		<div style="background-color: #FFF7DC; border: 2px solid #FFBFBF; ">
			<div style="float:left;"><span>返回</span></div>
			<div style="float:left;"><span>返回</span></div>
			<div style="float:left;"><span>返回</span></div>
			<div >保存1</div>
			<div >保存2</div>
			<div style="float:right;">保存4</div>
			<div >保存3</div>
    	</div>
    </body>
</html>
